<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>QjackCtl.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
 	<key>CFBundleGetInfoString</key>
	<string>JACK Audio Connection Kit Qt GUI Interface</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>QjackCtl</string>
	<key>CFBundleIdentifier</key>
	<string>org.rncbc.QjackCtl</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>JACK requires microphone permissions for audio input.</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
