Source: qjackctl
Section: contrib/sound
Priority: extra
Maintainer: Rui Nuno Capela <rncbc@rncbc.org>
Build-Depends: debhelper (>= 11), cmake, pkg-config,
  qt6-base-dev (>= 6.1) | qtbase5-dev (>= 5.1),
  qt6-base-dev-tools (>= 6.1) | qtbase5-dev-tools (>= 5.1),
  qt6-tools-dev (>= 6.1) | qttools5-dev (>= 5.1),
  qt6-tools-dev-tools (>= 6.1) | qttools5-dev-tools (>= 5.1),
  qt6-l10n-tools (>= 6.1)  | base-files (<< 12),
  libqt6waylandclient6-dev | qt6-wayland-dev (>= 6.1) |
  libqt5waylandclient5-dev | qtwayland5-dev  (>= 5.1),
  libqt6svg6-dev | libqt5svg5-dev, libgl-dev,
  libasound2-dev, libjack-dev | libjack-jackd2-dev
Standards-Version: 3.9.7

Package: qjackctl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  libqt6svg6 (>= 6.1) | libqt5svg5 (>= 5.1),
  qt6-qpa-plugins | base-files (<< 12),
  libjack0 | libjack-jackd2-0
Description: JACK Audio Connection Kit Qt GUI Interface.
  QjackCtl is a simple Qt application to control the JACK sound server
  (http://jackaudio.org), for the Linux Audio infrastructure.
  Written in C++ around the Qt framework for X11, most exclusively
  using Qt Designer. Provides a simple GUI dialog for setting several
  JACK server parameters, which are properly saved between sessions,
  and a way control of the status of the audio server. With time, this
  primordial interface has become richer by including a enhanced
  patchbay and connection control features.

